language: node_js
node_js:
  - "4.2"
  # - "0.12"
branches:
  only:
    - master
    - stable
    - anytry
cache:
  directories:
    - ~/.nvm
    # - node_modules
before_script:
  - npm run-script build
# deploy:
#   provider: script
#   script: ./scripts/deploy.sh
  # on:
  # 	branch: develop
after_success:
  - mkdir -p ~/.leancloud
  - echo "{\"$LC_APP_ID\":{\"masterKey\":\"$LC_APP_MASTER_KEY\",\"appKey\":\"$LC_APP_KEY\"}}" > ~/.leancloud/app_keys
  - cat ~/.leancloud/app_keys
  - avoscloud add rhinobird $LC_APP_ID
  - avoscloud deploy -g
