language: node_js
node_js:
  - "4.2"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
  # - "iojs"
branches:
  only:
    - master
    - stable
    - anytry
cache:
  directories:
    - ~/.nvm
    - node_modules
before_script:
  # - export DEBUG=zombie
  - npm install -g avoscloud-code
  - npm install -g grunt-cli
  - npm run-script build
  - echo 开始进入 部署前测试阶段
  - export APP_MODE=local
# deploy:
#   provider: script
#   script: ./scripts/deploy.sh
  # on:
  # 	branch: develop
after_success:
  - echo 开始进入 LeanCloud 部署阶段
  - mkdir -p ~/.leancloud
  - echo "{\"$LC_APP_ID\":{\"masterKey\":\"$LC_APP_MASTER_KEY\",\"appKey\":\"$LC_APP_KEY\"}}" > ~/.leancloud/app_keys
  - cat ~/.leancloud/app_keys
  - avoscloud add rhinobird $LC_APP_ID
  - mv node_modules ~/
  - avoscloud deploy
  - echo 开始进入 预发布测试 阶段
  - export APP_MODE=stagging
  - mv ~/node_modules .
  - grunt test
  - avoscloud publish 
  - echo 开始进入 发布测试 阶段
  - export APP_MODE=production
  - grunt test
  - export APP_MODE=local
