language: node_js
node_js:
  - "5.3"
  # - "4.2"
cache:
  directories:
    - ~/.nvm
    - node_modules
after_success:
  - npm install avoscloud-code
  - mkdir -p ~/.leancloud
  - echo "{\"$LC_APP_ID\":{\"masterKey\":\"$LC_APP_MASTER_KEY\",\"appKey\":\"$LC_APP_KEY\"}}" > ~/.leancloud/app_keys
  - cat ~/.leancloud/app_keys
  - avoscloud add rhinobird $LC_APP_ID
  - avoscloud deploy -g
