<app>
  <div id="container">
    <h4>hello { hello }</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ab inventore ut temporibus laudantium provident omnis, explicabo. Sequi quasi saepe qui, unde fugit, debitis, quaerat veritatis possimus libero ullam voluptates.</p>
  </div>

  <script type="es6">
    this.hello = 'world';

    this.on('mount', () => {
      console.log(1)
      setTimeout(() => {
        console.log(2)
        this.hello = '<<<<<<<--- kaCHa';
        this.update();
      }, 1000)
    });
  </script>
</app>
